ios-top-menu > .anim-element {
	position: absolute;
	z-index: 100;
	transform-origin: top left;
}

ios-top-menu > #anim-back-arrow {
	transform-origin: bottom right;
}

ios-top-menu .top-menu-anim-invisible {
	display: none !important;
}

ios-top-menu-instance {
	display: grid;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	box-sizing: border-box;
}

.top-menu-anim-invisible {
	opacity: 0 !important;
}

ios-top-menu-instance > * {
	grid-column: 1;
  	grid-row: 1;
}

ios-app[standalone] ios-top-menu-instance #statusbar {
	height: var(--i-inset-top);
	background: var(--i-statusbar);
}

#background {
	width: 100%;
	height: 100%;
	border-bottom: 0.333px solid var(--i-separator-menu);
	z-index: 1;
}

#content-container {
	z-index: 2;
}

#controls-container {
	display: flex;
	height: var(--i-top-menu-height);
	justify-content: center;
	align-items: center;
}

#back-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	flex: 1 0 0;

	padding: 11px 8px;
	gap: 5px;
	color: var(--i-accent);

	font-size: 17px;
	font-weight: 400;
	letter-spacing: -0.4px;
}

#back-arrow {
	width: 12;
	height: 20;
	transform-origin: bottom right;
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 17px;
	font-weight: 590;
}

#tools-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	flex: 1 0 0;

	padding: 11px 16px 11px 0px;
	gap: 16px;
	color: var(--i-accent);

	font-size: 17px;
	font-weight: 400;
	letter-spacing: -0.4px;
}