horizontal-scroll {
	display: flex;
	width: 100%;
	overflow: scroll;

	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	scroll-padding-left: 12pt;
	scroll-padding-right: 12pt;
	scrollbar-width: none;

	gap: 6pt;
	box-sizing: border-box;
	padding-bottom: 23pt;
}

horizontal-scroll::-webkit-scrollbar {
	display: none;
}

horizontal-scroll > .horizontal-scroll-element {
	min-width: calc(100% - 24pt);
	max-width: 300pt;
	border-top: solid var(--color-border) 1px;
	
	scroll-snap-align: start;
}

horizontal-scroll > .horizontal-scroll-element:first-child {
	border-left: solid 12pt transparent;
}

horizontal-scroll > .horizontal-scroll-element:last-child {
	border-right: solid 12pt transparent;
}


@media (min-width: 600px) {
	horizontal-scroll > .horizontal-scroll-element {
		min-width: 300pt;
	}
}
