ios-checkbox {
	position: relative;
	width: 51px;
	height: 31px;
	background: var(--i-fill-2);
	border-radius: 100px;
	transition: background 0.3s ease;
}

ios-checkbox.selected {
	background: var(--i-accent-active);
}

ios-checkbox::after {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;

	border-radius: 100px;
	background: white;
	width: 27px;
	height: 27px;
	transition: width 0.3s ease, left 0.3s ease, box-shadow 0.3s ease;

	box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

ios-checkbox.selected::after {
	left: 22px;
}

ios-checkbox.active::after {
	width: 33px;
}

ios-checkbox.selected.active::after {
	left: 16px;
}