list-table {
	display: flex;
	flex-direction: column;

	border-radius: 10px;
	width: 100%;
	background-color: var(--color-primary);
	/*padding-left: 12pt;*/
	box-sizing: border-box;
	overflow: hidden;
}


list-table > * {
	--border-color: rgb(57, 57, 59);
}

list-table > * *[slot="left"]{
	margin-right: 12pt;
}

list-table > * img[slot="left"]{
	height: 29px;
	width: 29px;
}

list-table > *:last-child{
	--border-color: transparent;
}
/*
list-table > * + *::before {
	content: " ";
	position: relative;
	left: 0; top: 0; right: 0; bottom: 0;
	height: 1px;
	width: 100%;
	display: flex;

	background: red;
}
*/