ios-app * {
	--top-page-margin: calc(44px + env(safe-area-inset-top));
}

top-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	
	z-index: 3;
	box-sizing: border-box;
}

ios-app[standalone] top-menu #statusbar {
	height: env(safe-area-inset-top);
	background: linear-gradient(0deg, transparent 0%, var(--color-status-bar) 100%);
}

top-menu #controls {
	height: 44px;
	display: flex;
	font-size: 12pt;
	padding: 0 7pt 0 7pt;
	/*box-shadow: 0px -1px 0px 0px var(--color-border-dark);*/
	-webkit-user-select: none;
}

top-menu #controls #back {
	display: flex;
	gap: 5pt;
	font-size: 13pt;
	color: var(--color-accent);
	justify-content: flex-start;
	align-items: center;
}

top-menu #controls #back.active {
	opacity: 0.5;
}

top-menu #controls #back svg {
	height: 23px;
}

top-menu #controls #back #back-text{
	pointer-events: none;
}


top-menu #controls #title {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 13pt;
	font-weight: bold;
	color: var(--color-text);
}


top-menu #controls #tools {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* Animation elements */
top-menu #controls .title-anim {
	position: absolute;

	font-size: 13pt;
	font-weight: bold;
	color: var(--color-text);

	height: 44px;
	display: flex;
	align-items: center;
	pointer-events: none;
}

top-menu #controls .back-text-anim {
	position: absolute;

	font-size: 13pt;
	color: var(--color-accent);

	height: 44px;
	display: flex;
	align-items: center;
	pointer-events: none;
}