ios-app * {
	margin: 0px;
	padding: 0px;
}

ios-app {
	display: block;
	font-family: var(--ios-fonts);
	color: var(--color-text);
	background-color: var(--color-background);
	position: relative;
	/* transition: background 0.5s ease, background-color 0.5s ease; */

	/* Color constants */
	--ios-fonts: -apple-system, BlinkMacSystemFont, sans-serif;

	--color-background: rgba(255, 255, 255, 1);
	--color-status-bar: rgba(100, 100, 100, 1);
	--color-background-blurred: rgba(255, 255, 255, 0.65);

	--color-accent: rgba(0, 122, 255);
	--color-accent-inactive: rgba(145, 145, 145);

	--color-text: black;
	--color-text-primary: rgba(138, 138, 142);

	--color-primary: rgba(238, 238, 240);
	
	--color-border: rgba(200, 200, 200);
	--color-border-dark: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
	ios-app {
		--color-background: rgba(0, 0, 0, 1);
		--color-background-blurred: rgba(20, 20, 20, 0.5);
		--color-status-bar: transparent;

		--color-accent: rgba(10, 132, 255);
		--color-accent-inactive: rgba(127, 127, 127);

		--color-text: white;
		--color-text-primary: rgba(141, 141, 147);

		--color-primary: rgba(28, 28, 31);

		--color-border: rgba(50, 50, 53);
		--color-border-dark: rgba(60, 60, 60);
	}
}

ios-tab {
	height: 100%;
	width: 100%;
	display: none;
	position: relative;
}
ios-tab.selected-tab {
	display: block;
}

ios-page {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
	overflow-x: scroll;
	background: var(--color-background);

	box-sizing: border-box;
	padding-bottom: var(--bottom-menu-height);
	padding-top: 70pt;

	will-change: transform;
	
}

ios-page.selected-page {
	
}

ios-page.hidden-page {
	
}

#page-content {
	padding: 0 12pt 0 12pt;
}

.blurred {
	backdrop-filter: blur(33px);
	-webkit-backdrop-filter: blur(33px);
	background-blend-mode: overlay;
	background: var(--color-background-blurred);
}



html.standalone-app {
	margin: 0px;
	padding: 0px;

	width: 100vw;
	height: 100vh;
	background: black;

	overscroll-behavior: none;
}

html.standalone-app body {
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;

	overflow: hidden;
	position: fixed;
	box-sizing: border-box;
}

html.standalone-app ios-app {
	width: 100%;
	height: 100%;
}