* {
	--color-accent: rgba(0, 122, 255);
	--color-accent-inactive: rgba(145, 145, 145);

	--color-text: rgba(0, 0, 0, 255);
	--color-text-primary: rgba(138, 138, 142);

	--color-primary: rgba(238, 238, 240);
	
	--color-border: rgba(225, 225, 225);
}