/* Used to detect style */
i-app-detection-label {
	--a: 0;
}

.i-root * {
	-webkit-touch-callout: none;
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color:transparent;
}

i-app {
	display: block;
	position: relative;
	overflow: hidden; 

	font-family: var(--i-font);
	color: var(--i-text-1);
	background-color: var(--i-bg-1);

	/* Insets */
	--i-inset-top: 0px;
	--i-inset-right: 0px;
	--i-inset-bottom: 0px;
	--i-inset-left: 0px;

	/* Some default UI sizes */
	--i-top-menu-height: 44px;
	--i-bottom-menu-height: 50px;

	/* Defaults */
	--i-font: -apple-system, BlinkMacSystemFont, sans-serif;
	--i-accent: var(--i-blue);
	--i-accent-active: var(--i-green);
}

.i-theme-light {
	/* 
	*	Light theme color constants 
	*/
	--i-red: rgb(255, 59, 48);
	--i-orange: rgb(255, 149, 0);
	--i-yellow: rgb(255, 204, 0);
	--i-green: rgb(52, 199, 89);
	--i-mint: rgb(0, 199, 190);
	--i-teal: rgb(48, 176, 199);
	--i-cyan: rgb(50, 173, 230);
	--i-blue: rgb(0, 122, 255);
	--i-indigo: rgb(88, 86, 214);
	--i-purple: rgb(175, 82, 222);
	--i-pink: rgb(255, 45, 85);
	--i-brown: rgb(162, 132, 94);

	--i-black: rgb(0, 0, 0);
	--i-grey: rgb(142, 142, 147);
	--i-grey-2: rgb(174, 174, 178);
	--i-grey-3: rgb(199, 199, 204);
	--i-grey-4: rgb(209, 209, 214);
	--i-grey-5: rgb(229, 229, 234);
	--i-grey-6: rgb(242, 242, 247);
	--i-white: rgb(255, 255, 255);

	--i-bg-1: rgb(255, 255, 255);
	--i-bg-2: rgb(242, 242, 247);
	--i-bg-3: rgb(255, 255, 255);
	--i-bg-4: rgb(230, 229, 235);

	--i-text-1: rgb(0, 0, 0);
	--i-text-2: rgba(60, 60, 67, 0.6);
	--i-text-3: rgba(60, 60, 67, 0.3);
	--i-text-4: rgba(60, 60, 67, 0.18);

	--i-fill-1: rgba(120, 120, 128, 0.2);
	--i-fill-2: rgba(120, 120, 128, 0.16);
	--i-fill-3: rgba(118, 118, 128, 0.12);
	--i-fill-4: rgba(116, 116, 128, 0.08);

	--i-separator: rgba(60, 60, 67, 0.36);
	--i-separator-opaque: rgb(198, 198, 200);
	--i-separator-menu: rgba(0, 0, 0, 0.30);
	--i-statusbar-fill: linear-gradient(0deg, transparent 0%, rgb(100, 100, 100) 100%);

	&.inverted {
		--i-bg-1: rgb(242, 242, 247);
		--i-bg-2: rgb(255, 255, 255);
		--i-bg-3: rgb(242, 242, 247);
		--i-bg-4: rgb(230, 229, 235);
	}

	&.i-material-thick, .i-material-thick {
		background: rgba(242, 242, 242, 0.95);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-regular, .i-material-regular {
		background: rgba(245, 245, 245, 0.77);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-thin, .i-material-thin {
		background: rgba(244, 244, 244, 0.59);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-ultrathin, .i-material-ultrathin {
		background: rgba(217, 217, 217, 0.41);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-chrome, .i-material-chrome {
		background: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}
}

.i-theme-dark {
	/* 
	*	Dark theme color constants 
	*/
	--i-red: rgb(255, 69, 58);
	--i-orange: rgb(255, 159, 10);
	--i-yellow: rgb(255, 214, 110);
	--i-green: rgb(48, 209, 88);
	--i-mint: rgb(99, 230, 226);
	--i-teal: rgb(64, 203, 224);
	--i-cyan: rgb(100, 210, 255);
	--i-blue: rgb(10, 132, 255);
	--i-indigo: rgb(94, 92, 230);
	--i-purple: rgb(191, 90, 242);
	--i-pink: rgb(255, 55, 95);
	--i-brown: rgb(172, 142, 104);

	--i-black: rgb(0, 0, 0);
	--i-grey: rgb(142, 142, 147);
	--i-grey-2: rgb(99, 99, 102);
	--i-grey-3: rgb(72, 72, 74);
	--i-grey-4: rgb(58, 58, 60);
	--i-grey-5: rgb(44, 44, 46);
	--i-grey-6: rgb(28, 28, 30);
	--i-white: rgb(255, 255, 255);

	--i-bg-1: rgb(0, 0, 0);
	--i-bg-2: rgb(28, 28, 30);
	--i-bg-3: rgb(44, 44, 46);
	--i-bg-4: rgb(58, 58, 60);

	--i-text-1: rgb(255, 255, 255);
	--i-text-2: rgba(235, 235, 245, 0.6);
	--i-text-3: rgba(235, 235, 245, 0.3);
	--i-text-4: rgba(235, 235, 245, 0.16);

	--i-fill-1: rgba(120, 120, 128, 0.36);
	--i-fill-2: rgba(120, 120, 128, 0.32);
	--i-fill-3: rgba(118, 118, 128, 0.24);
	--i-fill-4: rgba(116, 116, 128, 0.18);

	--i-separator: rgba(84, 84, 88, 0.65);
	--i-separator-opaque: rgb(56, 56, 58);
	--i-separator-menu: rgba(255, 255, 255, 0.15);
	--i-statusbar-fill: transparent;

	&.i-material-thick, .i-material-thick {
		background: rgba(36, 36, 36, 0.91);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-regular, .i-material-regular {
		background: rgba(40, 40, 40, 0.80);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-thin, .i-material-thin {
		background: rgba(51, 51, 51, 0.64);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-ultrathin, .i-material-ultrathin {
		background: rgba(50, 50, 50, 0.43);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	&.i-material-chrome, .i-material-chrome {
		background: rgba(0, 0, 0, 0.75);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}
}


html:has(i-app[standalone]) {
	margin: 0px;
	padding: 0px;

	width: 100vw;
	height: 100vh;
	background: black;

	overscroll-behavior: none;

	body {
		margin: 0px;
		padding: 0px;

		width: 100%;
		height: 100%;

		overflow: hidden;
		position: fixed;
		box-sizing: border-box;

		background: var(--i-bg-1);
	}

	i-app {
		width: 100%;
		height: 100%;

		/* Insets */
		--i-inset-top: env(safe-area-inset-top);
		--i-inset-left: env(safe-area-inset-left);
		--i-inset-bottom: env(safe-area-inset-bottom);
		--i-inset-right: env(safe-area-inset-right);
	}
}