html {
	--ios-fonts: -apple-system, BlinkMacSystemFont, sans-serif;

	--color-background: rgba(255, 255, 255, 1);
	--color-background-blurred: rgba(255, 255, 255, 0.65);

	--color-accent: rgba(0, 122, 255);
	--color-accent-inactive: rgba(145, 145, 145);

	--color-text: black;
	--color-text-primary: rgba(138, 138, 142);

	--color-primary: rgba(238, 238, 240);
	
	--color-border: rgba(200, 200, 200);
	--color-border-dark: rgba(0, 0, 0, 0.3);
}

.blurred {
	backdrop-filter: blur(33px);
	-webkit-backdrop-filter: blur(33px);
	background-blend-mode: overlay;
	background: var(--color-background-blurred);
}

@media (prefers-color-scheme: dark) {

	html {
		--color-background: rgba(0, 0, 0, 1);
		--color-background-blurred: rgba(55, 55, 55, 0.75);

		--color-accent: rgba(10, 132, 255);
		--color-accent-inactive: rgba(127, 127, 127);

		--color-text: white;
		--color-text-primary: rgba(141, 141, 147);

		--color-primary: rgba(28, 28, 31);

		--color-border: rgba(50, 50, 53);
		--color-border-dark: rgba(60, 60, 60);
	}

}

