
app-element {
	display: flex;
	
}

app-element > * {
	padding-top: 5pt;
	padding-bottom: 7pt;
}

app-element > #header {
	width: 46pt;
	height: 46pt;
}

app-element > #header > #image {
	width: 100%;
	height: 100%;
	
	border-radius: 13px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
	background-size: cover;
	background-position: center;
}

app-element > #body {
	flex: 1;
	margin-left: 8pt;
	display: flex;
	border-bottom: solid var(--color-border) 1px;	
}

app-element #app-about {
	flex: 1;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

app-element #app-title {
	font-size: 13pt;
}

app-element #app-description {
	font-size: 10pt;
	color: var(--color-text-primary);
	padding-top: 3pt;
}

app-element #action {
	width: 77pt;

	display: flex;
	align-items: center;
	
}

app-element #button {
	padding-top: 1pt;
	width: 77pt;
	height: 21pt;
	
	border-radius: 999px;

	line-height: 21pt;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	color: var(--color-accent);
	background: var(--color-primary);
}



app-element:last-child > #body {
	border-bottom: none;
}

app-element:last-child > * {
	padding: 5pt 0 0 0;
}
