music-player {
	--player-background: rgb(245, 245, 245);
	--player-background-active: rgb(235, 235, 235);

	--player-slider: rgb(210, 210, 210);
	--player-slider-current: rgb(255, 255, 255);
	--player-slider-pointer: rgb(255, 255, 255);

	--player-disabled-slider: rgb(220, 220, 220);
	--player-disabled-slider-current: rgb(190, 190, 190);
	--player-disabled-slider-pointer: rgb(170, 170, 170);

	--player-volume-icon: rgb(255, 255, 255);

	height: 60pt;
	width: 286pt;
	border-radius: 8pt;
	display: flex;
	background: var(--player-background);
	transition: all 0.15s ease;
}

music-player.player_playing {
	background: var(--player-background-active);
}

@media (prefers-color-scheme: dark) {

}





/* Slider */
.player_slider {
	position: relative;
	width: 100%;
	height: 3pt;
	background: var(--player-slider);
	border-radius: 999px;
}

.player_slider::before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--player-slider-current);
	border-radius: 999px;
	width: var(--progress);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
	transition: width 1s ease, opacity 0.2s ease, background 0.3s ease;
}

.player_slider::after {
  	content: "";
  	background: var(--player-slider-pointer);
  	position: absolute;
  	top: 50%;
  	left: var(--progress);
  	height: 7pt;
  	width: 7pt;
  	transform: translate(-50%, -50%);
	border-radius: 999px;
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
	transition: left 1s ease, opacity 0.2s ease, background 0.3s ease;
	
}

.player_slider.changing::before {
	transition: none;
}

.player_slider.changing::after {
	transition: none;
}



/* Main containers */
#player_image_container {
	width: 60pt;
	height: 100%;
	position: relative;
}

#player_image_container > * {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 8pt 0pt 0pt 8pt;
}

#player_body {
	width: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 0 0 0;
	font-size: 10pt;
	font-family: sans-serif;
}



/* Image */
#player_image {
	object-fit: cover;
	background: rgba(0, 0, 0, 0);
	animation-duration: 1s;
	animation-name: fade;
}




/* Image dark filter */
.player_hover #player_image_darkfilter {
	background: rgba(0, 0, 0, 0.3);
}

.player_playing #player_image_darkfilter {
	background: rgba(0, 0, 0, 0.3);
}





/* Icon defaults */
.player_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: all 0.3s ease;
	filter: drop-shadow(0px 0px 10pt rgba(0, 0, 0, 0.8));
	opacity: 0;
}

.player_icon svg {
	width: 22pt;
	height: 22pt;
	color: rgba(255, 255, 255, 1);
}






/* Playing icon */
#player_icon_playing svg {
	width: 30pt;
	height: 30pt;
}

.player_playing #player_icon_playing {
	opacity: 1;
}

.player_hover #player_icon_playing {
	opacity: 0;
}




/* Play icon */
.player_paused.player_hover #player_icon_play {
	opacity: 1;
}



/* Pause icon */
.player_playing.player_hover #player_icon_pause {
	opacity: 1;
}





/* Title and singer */
#player_head {
	display: flex;
}

#player_titles {
	padding: 5pt 0pt 0pt 8pt;
	width: 100%;
	min-width: 0;
}

#player_titles div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#player_title {
	font-weight: 600;
}

#player_singer {
	font-weight: 200;
}





/* Volume */
#player_volume {
	display: none;
	
}

.desktop.player_selected #player_volume {
	display: flex;
}

#player_volume_icon {
	width: 30pt;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#player_volume_icon > svg {
	width: 15pt;
	height: 15pt;
	color: var(--player-volume-icon);
	filter: drop-shadow(0px 0px 1pt rgba(0, 0, 0, 0.2));
}

#player_volume_bar_container {
	padding: 0 5pt 0 5pt;
}

#player_volume_bar {
	width: 70pt;
	transform: translateY(-50%);
	top: 50%;
}

#player_volume_bar::after {
	opacity: 0;
}

#player_volume_bar::before {
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.02);
}

#player_volume_bar.changing::after {
	opacity: 1;
}

#player_volume_bar_container:hover #player_volume_bar::after {
	opacity: 1;
}





/* Progress container */
#player_bottom {
	display: flex;
	height: 100%;
	align-items: end;
	padding: 0 8pt 0 8pt;
}

#player_bottom > * {
	height: 20pt;
} 


#player_progress {
	padding: 5pt 8pt 0 8pt;
	height: 30pt;
	display: flex;
	align-items: center;
    	justify-content: space-between;
}

#player_progress_duration {
	width: 35pt;
	font-size: 10pt;
	font-weight: 200;
	display: flex;
    	justify-content: flex-end;
	align-items: center;
}

#player_progress_bar_container {
	flex: 1;
}







/* Progress bar */
#player_progress_bar {
	width: 100%;
	transform: translateY(-50%);
	top: 50%;
	/* background: rgba(255, 255, 255, 0.1); */
}


#player_progress_bar::after {
	opacity: 0;
}

.player_paused #player_progress_bar {
	background: var(--player-disabled-slider);
}

.player_paused #player_progress_bar::before {
	background: var(--player-disabled-slider-current);
	box-shadow: none;
}

.player_paused #player_progress_bar::after {
	background: var(--player-disabled-slider-pointer);
}


#player_progress_bar.changing::after, 
.player_selected #player_progress_bar_container:hover #player_progress_bar::after {
	opacity: 1;
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Old versions of Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;	/* Android tap */
}