horizontal-titled-scroll {
	display: flex;
	flex-direction: column;
	padding-bottom: 23pt;
}

horizontal-titled-scroll > #head {
	width: calc(100% - 24pt);
	border-top: solid var(--color-border) 1px;
	display: flex;
	padding-bottom: 4pt;
	margin: 0 12pt 0 12pt;
}


horizontal-titled-scroll > #head > #head_left {
	flex: 1;
}

horizontal-titled-scroll #title {
	font-weight: bold;
	font-size: 16pt;
	height: 28pt;
	vertical-align: bottom;
	display: table-cell;
}

horizontal-titled-scroll #description {
	color: var(--color-text-primary);
	padding-top: 2pt;
}

horizontal-titled-scroll #more {
	color: var(--color-accent);
	font-size: 13pt;
	height: 28pt;
	vertical-align: bottom;
	display: table-cell;
	padding-bottom: 1pt;
}

/*
	Scroll
*/

horizontal-titled-scroll #blocks {
	display: flex;
	width: 100%;
	overflow: scroll;

	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	scroll-padding-left: 12pt;
	scroll-padding-right: 12pt;
	scrollbar-width: none;
}

horizontal-titled-scroll #blocks::-webkit-scrollbar {
	display: none;
}

horizontal-titled-scroll #blocks > * {
	min-width: calc(100% - 24pt);
	margin-left: 6pt;

	scroll-snap-align: start;
}

horizontal-titled-scroll #blocks > *:first-child {
	margin-left: 12pt;
}

horizontal-titled-scroll #blocks > *:last-child {
	margin-right: 12pt;
}


@media (min-width: 600px) {
	horizontal-titled-scroll #blocks > * {
		min-width: 300pt;
	}
}
